

  body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  font-family: Arial, sans-serif;
}



section {
  text-align: center;
}

section div:first-child {
  display: flex;
  justify-content: center;
  gap: 20px;          
  margin-bottom: 20px; 
}

h1 {
  margin-bottom: 20px; 
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.copyCode {
    color: white;
  background: rgb(128, 111, 111);
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 14px;
box-shadow: 0 10px 30px rgba(158, 163, 198, 0.15);
  border-left: 4px solid white;

}


#mybutton,
#mybutton2 {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Different colors */
#mybutton {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
}

#mybutton2 {
  background: linear-gradient(135deg, #ff9966, #ff5e62);
  color: white;
}

/* Hover effect */
#mybutton:hover,
#mybutton2:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

/* Click effect */
#mybutton:active,
#mybutton2:active {
  transform: scale(0.95);
}

